<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <div class="container">
    <div class='row'>
      <div class='column'>
        <div id="reqs">Методы</div>
        {{{ body }}}
      </div>
      <div class='column'>
        {{!-- <form id="form" method="GET"> --}}
          <form id="form" method="POST" action="/">
            <div class='row'>
              <div class='column'>
                <div>Метод</div>
                <select name="method" id="select">
                  <option value="GET">GET</option>
                  <option value="POST">POST</option>
                </select>
              </div>
              <div class='column column5'>
                <div>URL</div>
                <input id="url" name="url" type="text" />
              </div>
            </div>
            <div class='row'>
              <div class='column'>
                <div>Тело запроса</div>
                <textarea id="bodyReq" name="bodyReq"></textarea>
              </div>
            </div>
            <div class='row'>
              <div class='column'>
                <div>Параметры</div>
                <div id="params"></div>
                <input type="button" value="Добавить параметр" onclick="addParam({reqId:reqId.value})"></input>
                <div>Заголовки</div>
                <div id="headers"></div>
                <input type="button" value="Добавить заголовок" onclick="addHeader({reqId:reqId.value})"></input>
              </div>
            </div>
            <input id="reqId" name="reqId" style="display: none" />
            <div class='column'>
              <div class='row mt12'>
                <div class='column4'>
                  <input type=button value="Сохранить запрос" onclick="saveReq(form)">
                </div>
                <div class='column4'>
                  <input type=button value="Отправить запрос" onclick="sendRequest(form)">
                </div>
                <div class='column4'>
                  <input type=button value="Очистить форму" onclick="clearForm(form)">
                </div>
              </div>
              <h3>Response</h3>
              Status:
              <div id='resStatus' class='row mt12 mb12 response'></div>
              Headers:
              <div id='resHeaders' class='row mt12 mb12 response'></div>
              Body: <div id='resBody' class='row mt12 mb12 resbody'></div>
              Preview: <div id='previewBody' class='row mt12 resbody'></div>
            </div>
          </form>
      </div>
    </div>
  </div>
</body>

</html>

<script type="text/javascript" src="script.js"></script>